<table class="table table-hover">
  <tbody>
    <tr ng-repeat="p in projects" ng-click="openProject(p)" class="project-row">
      <td class="project-status">
        <span ng-if="!p.archived" class="label label-primary">Active</span>
        <span ng-if="p.archived" class="label label-danger">Archived</span>
      </td>
      <td class="project-title">
        <a ui-sref="index.project_detail({ project_id: p.id })">{{p.title}}</a>
        <br>
        <small>Created {{p.created_at | amDateFormat:'MM.DD.YYYY'}}</small>
      </td>
      <td class="project-completion">
        <small>Completion with: {{p.completion_percent}}%</small>
        <div class="progress progress-mini">
          <div ng-style="{'width': p.completion_percent + '%'}" class="progress-bar"></div>
        </div>
      </td>
      <td class="project-people">
        <img ng-alt="{{p.owner.full_name}}" ng-src="{{p.owner.image}}" class="img-circle user-img" />
        <span ng-repeat="c in p.collaborators">
          <img ng-if="c.image" ng-alt="{{c.full_name}}" ng-src="{{c.image}}" class="img-circle user-img" />
        </span>
      </td>
      <td class="project-actions">
        <a ng-if="p.archived" class="btn btn-white btn-sm" ng-click="unarchive(p); $event.stopPropagation();">un-archive</a>
        <a class="btn btn-white btn-sm" ui-sref="index.project_detail({ project_id: p.id })"><i class="fa fa-folder"></i> View</a>
      </td>
    </tr>
  </tbody>
</table>
