<!DOCTYPE html>
<html ng-app="specd" ng-strict-di>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= stylesheet_link_tag 'admin', media: 'all' %>
      <link rel="shortcut icon" href="/favicon.ico">
      <base href="/">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
<body class=" ">
  <div ui-view class="container-fluid"></div>
  <!-- Spec'd -->
  <%= javascript_include_tag 'application' %>
</body>

</html>
